.ListWrapper {
	background-color: hsl(60, 100%, 10%, 0.25);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	/* align-items: flex-start; */

	height: 20rem;

	overflow-y: auto;

	outline: 2px dashed yellow;
}
