.ListForm {
	background-color: hsl(0, 0%, 0%, 10%);
	padding-block: 1rem;

	display: flex;
	justify-content: center;
}

.ListForm label {
	flex: 1;
}

.ListForm input {
	padding-left: 0.25rem;
}

.ListForm button {
	width: 1.75rem;
}
