.NewList {
	/* background-color: lightgreen; */

	/* background-color: hsl(208, 100%, 97%, 0.25); */
	background-color: hsl(208, 100%, 97%);

	padding: 1rem;
	text-align: center;

	isolation: isolate;
	position: relative;

	/* outline: dashed 1px hsl(91, 85%, 75%); */
}

.NewList button {
	background-color: hsl(300, 85%, 45%);
	border: 1px solid hsl(300, 85%, 30%);
	border-radius: 5px;

	padding-inline: 2rem;

	text-wrap: nowrap;
}

@media (hover: hover) {
	/* when hover is supported */
	.NewList button:hover {
		background-color: rgb(103, 38, 103);
		border-color: rgb(26, 255, 0);
		color: white;
		transition:
			background-color 0.75s,
			border-color 0.75s,
			color 0.25s;

		cursor: pointer;
	}
}
