:root {
	/* --background: #ffffff; */
	/* --foreground: #171717; */
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

/*
  2. Remove default margin and padding
*/
* {
	margin: 0;
	padding: 0;
}

/*
  Remove list bullet points
*/
li {
	list-style: none;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body,
#__next {
	height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* --background: #0a0a0a; */
		/* --foreground: #ededed; */
	}
}

html,
body {
	/* max-width: 100vw; */
	/* overflow-x: hidden; */
}

body {
	/* color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

* {
	/* box-sizing: border-box;
  padding: 0;
  margin: 0; */
}

a {
	/* color: inherit;
  text-decoration: none; */
}

@media (prefers-color-scheme: dark) {
	html {
		/* color-scheme: dark; */
	}
}
