/* 
IDEAS

maybe add option to have a narrow or wide list 
*/

.List {
	background-color: hsl(60, 100%, 20%, 0.25);

	border: 2px solid hsl(0, 0%, 90%);
	border-radius: 5px;

	line-height: 1.5;

	min-width: 15rem;
	max-width: 20rem;

	margin-inline: auto;
}

.List h2 {
	border-bottom: solid 1px white;

	color: hsl(0, 0%, 90%);

	text-align: center;

	padding-block: 0.5rem;

	max-width: 100%;
	overflow-x: auto;
	white-space: nowrap;
}

.List ul {
	max-height: 30rem;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: hsl(0, 0%, 75%) hsl(0, 0%, 95%);
}

.List ul button {
	background-color: hsl(0, 0%, 100%);
	border: transparent;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.List ul button:hover {
	background-color: hsl(0, 0%, 100%, 0.9);
}
