.ListForm {
	background-color: hsl(0, 0%, 0%, 20%);
	padding-block: 1rem;
	padding-inline: 0.5rem;

	--add-item-btn-width: 1.75rem;

	text-align: center;
}

.ListForm input {
	padding-left: 0.25rem;
	max-width: calc(100% - var(--add-item-btn-width));
}

.ListForm button {
	width: var(--add-item-btn-width);
}
