.CreateList {
	/* background-color: hsl(208, 100%, 97%, 0.25); */

	/* padding: 1rem; */
	/* text-align: center; */

	isolation: isolate;

	position: absolute;
	top: 100%;
	/* top: 0; */
	left: -300%;
	left: 0;
	right: 0;
	/* width: 100%; */

	/* outline: dashed 1px hsl(91, 85%, 45%); */
}

.CreateList form {
	border-radius: 4px;

	/* padding-block: 1rem; */

	margin-inline: auto;

	/* height: fit-content; */

	/* background-color: hsla(60, 51%, 12%, 0.5); */
}

.radioWrapper {
	line-height: 2;
}

.radioWrapper label + label {
	margin-left: 0.5rem;
}

.radioWrapper label input[type='radio'] {
	margin-right: 0.25rem;
}

.radioWrapper label input[type='text'] {
	max-width: 65%;
	max-height: 1.75rem;
	padding-left: 0.25rem;
}

.buttonWrapper button + button {
	margin-left: 0.5rem;
}

.buttonWrapper button {
	background-color: hsl(300, 85%, 45%);
	border: 1px solid hsl(300, 85%, 30%);
	border-radius: 5px;

	padding-inline: 2rem;

	text-wrap: nowrap;
}

@media (hover: hover) {
	/* when hover is supported */
	.CreateList button:hover {
		background-color: rgb(103, 38, 103);
		border-color: rgb(26, 255, 0);
		color: white;
		transition:
			background-color 0.75s,
			border-color 0.75s,
			color 0.25s;

		cursor: pointer;
	}
}
