.CreateList {
	background-color: hsl(208, 100%, 97%, 0.25);

	padding: 1rem;
	text-align: center;

	isolation: isolate;
}

.CreateList form {
	border-radius: 4px;
	/* display: flex; */
	/* flex-direction: column; */
	/* gap: 0.5rem; */

	/* text-align: initial; */

	padding-block: 1rem;

	position: fixed;

	/* bottom: 50%; */
	/* left: 50%; */
	inset: 0;

	top: 25%;
	margin-inline: auto;

	/* top: 10px; */
	/* bottom: -100%; */
	/* width: fit-content; */
	height: fit-content;

	background-color: hsla(60, 51%, 12%, 0.5);
}

.radioWrapper {
	line-height: 2;
}

.radioWrapper label + label {
	margin-left: 0.5rem;
}

.radioWrapper label input[type='radio'] {
	margin-right: 0.25rem;
}

.radioWrapper label input[type='text'] {
	max-width: 65%;
	max-height: 1.75rem;
	padding-left: 0.25rem;
}

.buttonWrapper button + button {
	margin-left: 0.5rem;
}

@media (hover: hover) {
	/* when hover is supported */
	.CreateList button:hover {
		background-color: rgb(103, 38, 103);
		border-color: rgb(26, 255, 0);
		color: white;
		transition:
			background-color 0.75s,
			border-color 0.75s,
			color 0.25s;

		cursor: pointer;
	}
}
