.page {
	padding: 1rem 2rem;

	/* background-color: hsl(0, 0%, 65%); */

	color: hsl(0, 0%, 100%);
}

.header {
	background: linear-gradient(
		to top right,

		hsl(0, 61%, 50%),
		hsl(0, 61%, 45%),
		hsl(0, 61%, 40%),
		hsl(0, 61%, 35%),
		hsl(0, 61%, 30%)
	);
	padding: 1rem;
	margin-bottom: 1rem;
	margin-inline: -2rem;

	text-align: center;
}

.main {
	background-color: hsl(0, 0%, 0%);
	background: linear-gradient(
		to bottom,

		hsl(300, 90%, 15%),
		hsl(300, 90%, 10%),
		hsl(300, 90%, 10%),
		hsl(300, 90%, 10%),
		hsl(300, 90%, 10%),
		hsl(300, 90%, 10%),
		hsl(300, 90%, 5%)
	);

	padding: 1rem;
}

.page section {
	border: 1px solid hsl(0, 0%, 75%);
}

.flexSection {
	/* background-color: hsl(0, 60%, 75%); */
	padding: 1rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.flexParentRowWrap {
	flex-wrap: wrap;

	justify-content: center;
}

.flexColumnWrapper {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.flexParentColumn {
	flex-direction: column;
}

.flexParentColumnReverse {
	flex-direction: column-reverse;
}

.flexParentChildren {
	justify-content: center;
}

.flexParentChildren > * {
	flex: 1;

	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
}

.flexParentChildren > :nth-child(1) {
	align-self: center;
}

.flexParentChildren > :nth-child(2) {
	background-color: hsl(240, 33%, 35%);
	color: hsl(0, 100%, 75%);
	height: 150px;
}

.flexParentChildren > :nth-child(3) {
	background-color: hsl(240, 33%, 45%);
	color: hsl(0, 100%, 90%);
	height: 100px;

	align-self: flex-end;
}

.flexParentChildrenFancy {
	flex: 1;
}

.flexParentChildrenFancy > :nth-child(2) {
	background-color: hsla(240, 33%, 25%);
	color: hsl(0, 100%, 75%);
	flex: 2;
}
