.page {
	background: var(--bkgd-gradient);
	color: hsl(300, 80%, 90%);

	padding: 1rem;

	height: var(--page-height);

	font-family: var(--font-geist-sans);
}

.formWrapper {
	background-color: hsl(0, 0%, 0%, 10%);
	border-radius: 5px;
	padding: 2rem 2rem;

	max-width: fit-content;
	margin-block: 1rem;
}
