.page {
	background: var(--bkgd-gradient);
	color: hsl(300, 80%, 90%);

	padding: 1rem;

	height: var(--page-height);

	font-family: var(--font-geist-sans);
}

.formWrapper {
	background-color: hsl(0, 0%, 0%, 10%);
	border-radius: 5px;
	padding: 2rem 2rem;

	max-width: fit-content;
	margin-block: 1rem;
}

.sampleData {
	position: absolute;
	right: 0;

	padding: 0.5rem;

	button {
		background-color: hsl(350, 100%, 88%, 0.5);
		border-radius: 10px;
		padding: 0.5rem;
	}
}
