.page {
	color: hsl(300, 80%, 90%);

	font-family: var(--font-geist-sans);
}

.header {
	/* text-align: center; */
	/* line-height: 1; */
	/* padding-block: 1rem; */

	display: flex;

	/* outline: 2px dotted yellow; */
}

.header h1 {
	padding-left: 1rem;
	margin-right: auto;
	background-color: hsl(350, 56%, 60%, 0.5);
	width: 100%;
}

.formWrapper {
	background-color: hsl(0, 0%, 0%, 10%);
	border-radius: 5px;
	padding: 2rem 2rem;

	max-width: fit-content;
	margin-block: 1rem;
}

.sampleData {
	position: absolute;
	right: 0;

	padding: 0.5rem;

	button {
		background-color: hsl(350, 100%, 88%, 0.5);
		border-radius: 10px;
		padding: 0.5rem;
	}
}
