.page {
	color: hsl(300, 80%, 90%);

	font-family: var(--font-geist-sans);

	/* isolation: isolate; */
	/* position: relative; */

	min-height: 100%;

	/* outline: 2px dotted yellow; */
}

.header {
	/* text-align: center; */
	/* line-height: 1; */
	/* padding-block: 1rem; */

	display: flex;

	/* outline: 2px dashed black; */
}

.header h1 {
	padding-left: 1rem;
	margin-right: auto;
	background-color: hsl(350, 56%, 60%, 0.5);
	width: 100%;
}
