.page {
	color: hsl(300, 80%, 90%);

	font-family: var(--font-geist-sans);

	/* isolation: isolate; */
	position: relative;

	min-height: 100%;

	/* outline: 2px dotted yellow; */
}

.header {
	/* text-align: center; */
	/* line-height: 1; */
	/* padding-block: 1rem; */
	position: relative;
	display: flex;
	z-index: 2;

	/* outline: 2px dashed black; */
}

.header h1 {
	padding-left: 1rem;
	margin-right: auto;
	/* background-color: hsl(350, 56%, 60%, 0.5); */
	background-color: hsl(350, 56%, 60%);
	width: 100%;
}

.slideWrapper {
	animation: slideDown 2s forwards;

	/* outline: 2px yellow dashed; */
}

@keyframes slideDown {
	from {
		transform: translateX(0%) translateY(-150px);
	}
	to {
		transform: translateX(0%) translateY(25px);
	}
}
