.Icon {
	transition: all 250ms linear;
	border-radius: 5px;
	height: 25px;
	width: 25px;
	padding-block: 5px;
	padding-right: 5px;
	padding-left: 5px;

	: dotted 2px yellow;

	@media (hover: hover) {
		&:hover {
			cursor: pointer;
			transform: scale(1.1);
			rotate: calc(10deg);
		}
	}
}
