.Nav {
	background-color: rgb(23, 42, 99);
	padding: 0.5rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.Nav ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.25rem;
	text-align: center;
}
