.Nav {
	background-color: rgb(23, 42, 99);
	padding: 0.5rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: var(--nav-height);
}

.Nav ul {
	width: 10rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.25rem;
	text-align: center;
}
