.page {
	background: var(--bkgd-gradient-island);
	height: var(--page-height);
	padding: 1rem;
}

.header {
	/* background-color: hsl(210, 64%, 61%); */
	min-width: fit-content;
	max-width: 10rem;
	margin-block: 1rem;
	margin-inline: auto;

	font-size: 1rem;

	position: relative;
	isolation: isolate;
}

.title {
	margin: auto;
	width: fit-content;

	font-size: 3rem;
	line-height: 1;
}

.lineWrapper {
	width: 13rem;
	position: absolute;
	left: -1.5rem;
	bottom: 5px;
}

.line {
	background: linear-gradient(
		to top right,
		hsl(240, 100%, 40%),
		hsl(240, 100%, 60%),
		hsl(240, 100%, 80%)
	);
	border-radius: 100px;
	border: none;

	width: 100%;
	height: 0.5rem;

	position: absolute;
	top: 100%;
}

.bookmark {
	border-radius: 100px;

	width: 1.25rem;
	aspect-ratio: 1;

	position: absolute;
	top: calc(100% - 0.375rem);

	z-index: 1;
}

.leftBookmark {
	/* border: 2px orange solid; */
	left: 0;
	background: linear-gradient(
		to top right,
		hsl(240, 100%, 20%),
		hsl(240, 100%, 50%),
		hsl(240, 100%, 60%)
	);
}

.rightBookmark {
	/* border: 2px fuchsia solid; */
	background-color: hsl(240, 100%, 80%);
	background: linear-gradient(
		to top right,
		hsl(240, 100%, 60%),
		hsl(240, 100%, 70%),
		hsl(240, 100%, 80%)
	);
	right: 0;
}
