.Island {
	background-color: hsl(0, 59%, 41%);
	border-color: tan;
	border-width: 15px;
	border-style: ridge groove groove ridge;

	box-shadow: 5px 5px 2px hsl(185, 95%, 16%);

	position: relative;
}

.Island div {
	position: absolute;
	inset: 0;
	width: fit-content;
	height: fit-content;
	margin: auto;
}
