.ListItem {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 0.5rem 1rem;

	border-bottom: solid 1px white;

	/* height: 3rem; */
	/* white-space: nowrap; */
	/* overflow-x: auto; */
	/* scrollbar-color: transparent transparent; */

	&:last-of-type {
		border-bottom: solid 1px transparent;
	}

	& > button {
		background-color: transparent;
		border: none;

		transition: all 250ms linear;
		border-radius: 2px;

		@media (hover: hover) {
			&:hover {
				cursor: pointer;
				transform: scale(1.1);
				rotate: calc(15deg);
			}
		}
	}
}

.ListItem:has(input:checked) {
	color: hsl(0, 0%, 0%);
	text-decoration: line-through;
}
