.ListItem {
	display: flex;
	align-items: center;
	gap: 10px;
	padding-block: 0.25rem;
	padding: 0.5rem;

	& > button {
		background-color: transparent;
		border: none;

		transition: all 250ms linear;
		border-radius: 2px;

		@media (hover: hover) {
			&:hover {
				cursor: pointer;
				transform: scale(1.1);
				rotate: calc(15deg);
			}
		}
	}
}

.ListItem:has(input:checked) {
	color: hsl(0, 0%, 0%);
	text-decoration: line-through;
}
