.ListItem {
	display: flex;
	align-items: center;
	gap: 10px;
	padding-block: 0.25rem;

	/* outline: 1px dotted silver; */
}

.ListItem:has(input:checked) {
	color: hsl(0, 0%, 0%);
	text-decoration: line-through;
}
