.ListItem {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 0.5rem 1rem;

	border-bottom: solid 1px white;

	&:last-of-type {
		border-bottom: solid 1px transparent;
	}

	div {
		display: flex;
		gap: 0.625rem;
	}
}

.ListItem:has(input:checked) {
	color: hsl(0, 0%, 0%);
	text-decoration: line-through;
}
